*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;
color:#334155;
background:#fff;

}

/* background */

.main-gradient{

position:fixed;
width:100%;
height:100%;

background:radial-gradient(circle at 50% -20%,#eff6ff 0%,#ffffff 100%);

z-index:-2;

}

.glow1,
.glow2{

position:fixed;
width:450px;
height:450px;

border-radius:50%;
filter:blur(140px);

opacity:.3;

z-index:-1;

}

.glow1{

background:#3b82f6;

top:-150px;
left:-150px;

}

.glow2{

background:#6366f1;

bottom:-150px;
right:-150px;

}

/* layout */

.layout{

display:flex;

min-height:100vh;

align-items:center;

}

/* left */

.left{

flex:1;

display:flex;

align-items:center;
justify-content:center;

padding:80px;

}

.left-content{

max-width:420px;

}

.left h2{

font-size:40px;

margin-bottom:20px;

}

.left p{

color:#64748b;

line-height:1.6;

}

/* logo */

.logo{

font-size:28px;

font-weight:800;

margin-bottom:30px;

color:#0f172a;

}

.logo span{

color:#2563eb;

}

/* right */

.right{

width:520px;

display:flex;

justify-content:center;

padding:40px;

}

/* card */

.card{

background:rgba(255,255,255,0.9);

padding:35px;

border-radius:16px;

width:100%;

max-width:400px;

box-shadow:0 25px 60px rgba(0,0,0,.15);

backdrop-filter:blur(12px);

}

/* form */

.card h3{

margin-bottom:20px;

font-size:26px;

color:#0f172a;

}

.form-group{

margin-bottom:18px;

}

label{

font-size:14px;

display:block;

margin-bottom:6px;

}

input{

width:100%;

padding:13px;

border:1px solid #ddd;

border-radius:8px;

font-size:14px;

}

input:focus{

outline:none;

border-color:#2563eb;

box-shadow:0 0 0 3px rgba(37,99,235,.15);

}

/* terms */

.terms{

font-size:13px;

margin-bottom:22px;

color:#64748b;

}

/* button */

.btn{

width:100%;

padding:13px;

background:linear-gradient(135deg,#667eea,#764ba2);

border:none;

color:white;

border-radius:10px;

font-size:15px;

font-weight:600;

cursor:pointer;

}

/* login link */

.login-link{

text-align:center;

margin-top:20px;

font-size:14px;

}

.login-link a{

color:#2563eb;

text-decoration:none;

font-weight:500;

}

/* mobile logo */

.mobile-logo{

display:none;

font-size:26px;

font-weight:800;

position:absolute;

top:25px;

left:25px;

color:#0f172a;

}

.mobile-logo span{

color:#2563eb;

}

/* responsive */

@media(max-width:900px){

.layout{

flex-direction:column;

}

.left{

display:none;

}

.right{

width:100%;

padding:120px 20px 40px;

}

.mobile-logo{

display:block;

}

}


.terms{

display:flex;
align-items:center;
gap:8px;

font-size:13px;
color:#64748b;

}

.terms input{

width:auto;

}